@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #4a4a4a;
	background: #fcfcfc;
}
.container {
	width: 100%;


}
.wrapper {
	margin: 0 auto;
	width: 98%;	
}

h1 {
	text-transform: uppercase;
	font-size:1em;	
}

#directory  {
	display: flex;
	flex-direction: column;
 	
}



a  {
	margin:10px 0;
	border: solid 1px #dfdfdf;
	width:100%;
	border-radius: 10px;
	padding:5px;
	display: flex;
	flex-direction: row;
	flex-wrap:nowrap;
	height:145px;
}

a:hover {
	border: solid 1px #4a4a4a;

}

a img {
	border-radius: 50%;
	max-width:100%;
	width:95px;
	height:95px;
	
}

.employeeInfo {
	
	padding-top:15px;
	padding-left: 5px;
}

.employeeInfo .name {
	font-weight: bold;
}

.employeeInfo .email,.employeeInfo .city  {
	font-size: .80em;
	color:#b2b5b8;
	margin-top:5px;
}


@media (min-width: 768px){

	#directory  {
		
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between; 	
	}

	a  {

		width:45%;

	}

	a img {
	
	width:100px;
	height:100px;
	
}

}


@media (min-width: 1024px){
	a {

		width:33%;

	}

}