@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #4a4a4a;
	background: #fcfcfc;
}
.container {
	width: 100%;

}
.wrapper {
	margin: 0 auto;
	width: 98%;
}

h1 {
	text-transform: uppercase;
	font-size:1em;
	text-align: center;
}

#directory ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	justify-content: space-between;
 	
}

.employeeList li {
	margin:10px;
	border: solid 1px #dfdfdf;
	width:100%;
	border-radius: 10px;
	padding:10px;
	display: flex;
	flex-direction: 
	flex-wrap:wrap;
}

.employeeList li:hover {
	border: solid 1px #4a4a4a;

}

.employeeList img {
	border-radius: 50%;
	max-width:100%;
	width: 100px;
}

.employeeInfo {
	margin-left:10px;
	padding-top:15px;
}

.employeeInfo .name {
	font-weight: bold;
}

.employeeInfo .email,.employeeInfo .city  {
	font-size: .80em;
	color:#b2b5b8;
	margin-top:5px;
}


@media (min-width: 768px){
	.employeeList li {

		width:45%;

	}

}
